<!DOCTYPE html>
<html>
	<head>
		<title>Deemos</title>
		<link rel="stylesheet" href="stylesheets/style.css" />
	</head>
	<body>
		<h1>Deemos</h1>
		<div id="join_view">
		</div>
		<div id="inside_view">
			<div id="trending_section">
				<h2>Trending</h2>
				<ol id="trending_list">
					<!-- SHOW TRENDING HERE -->
				</ol>
			</div>
			<div id="search_section">
				<h2>Search</h2>
				<input type="text" name="search_bar" id="search_bar" placeholder="Search" />
				<button id="search_enter">Go</button>
				<div id="search_results">
					<!-- SHOW SEARCH RESULTS -->
				</div>
			</div>
		</div>
		<script src="javascripts/output.js"></script>
	</body>
</html>