<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
   		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />

		<link rel="stylesheet" href="stylesheets/style.css" />
		<style>
        body {
            color: white;
            font-family: 'Karla', sans-serif;
            text-align: center;
            padding: 5%;
			background: #1D976C;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to bottom, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			background-repeat: no-repeat;
        }
		html {
			height:100%;
		}
		.custompad {
			padding-top:5%;

		}
    	</style>
	</head>

	<body>
		<img height="100" width="250" src="../images/grayDeemoslogo.png">
    	<div id="logo">
		<div id="join_view" class="custompad" >
			<input type="text" name="enter_code" id="enter_code" placeholder="Enter Code" />
			<button id="send_code">Go</button>
		</div>

		<div id="inside_view">
			<div id="trending_section" class="custompad">
				<h2>Trending</h2>
				
				<ol id="trending_list">
					<!-- SHOW TRENDING HERE -->
				</ol>
			</div>
			<div id="search_section" class="custompad">
				<h2>Search</h2>
				<input type="text" name="search_bar" id="search_bar" placeholder="Search" />
				<button id="search_enter">Go</button>
				<div id="search_results">
					<!-- <div data-video-id="thevideoid">Video title<img src="thumbnail.png" /></div> -->
				</div>
			</div>
		</div>
		<script>
			let apiKey = "{{apiKey}}";
		</script>
		<script src="javascripts/output.js"></script>
	</body>
</html>